<div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th> Topic Name </th>
                <th> Topic Description </th>
                <th> Video Lecture </th>
            </tr>
        </thead>
        <tbody>
            <% @course.topics.each do |topic| %>
                <tr>
                    <td><%= topic.topic_name %> </td>
                    <td><%= topic.topic_description %> </td>
                    <% if topic.post_video.present? %>
                        <td><%= video_tag url_for(topic.post_video), controls:true, controlsList: "nodownload", width:"200", height:"100" %></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
