<div class="d-flex align-items-center justify-content-center">
    <h1>Payment Cancelled </h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <p>Please click on <%= link_to 'Home Page', dashboard_index_path %> to visit home!</p>
</div>
