<div class="d-flex align-items-center justify-content-center">
    <h4 class="d-flex align-items-center justify-content-center">Welcome to EMentors, please sign in to the given link or sign up if you are new here</h4>
</div>

<div class="d-flex align-items-center justify-content-center">
    <div class="d-grid gap-3 d-md-block">
        <%= link_to 'Sign In', new_user_session_path, class:"btn btn-primary" %>
            or
        <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary" %>
    </div>
</div>